/* Drop down menu */

@media all and (min-width: 360px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .nav-link {}

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

/*zoom*/
.zoom {
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


/* scroll indicator */
.scroll-progress-bar {
    /*margin-bottom: 103px;*/
    width: 0%;
    height: 4px;
    background-color: #155dab;
    position: fixed;
    left: 0px;
    top:0%;
}

.scroll-progress-bar-gac{
    margin-bottom: 50px;
    width: 0%;
    height: 4px;
    background-color: #155dab;
    position: fixed;
    left: 0px;
}

/* scroll bar */
/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #155dab;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #155dab;
}

hr.divider {
  max-width: 3.25rem;
  border-width: 0.2rem;
  border-color: #155dab;
}



/* product image pop up */
#image_1 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#image_1:hover {opacity: 0.7;}


#image_2 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#image_2:hover {opacity: 0.7;}

#image_3 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#image_3:hover {opacity: 0.7;}

#image_4 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#image_4:hover {opacity: 0.7;}

#image_5 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#image_5:hover {opacity: 0.7;}

#image_6 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#image_6:hover {opacity: 0.7;}

#image_7 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#image_7:hover {opacity: 0.7;}

#image_8 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#image_8:hover {opacity: 0.7;}

#image_9 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#image_9:hover {opacity: 0.7;}

#image_10 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#image_10:hover {opacity: 0.7;}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  /*z-index: 1;  Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /*overflow: auto;  Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  height: 80%;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 80%;
    height: 80%
  }
}
